@font-face {
	font-family: 'gt-america-trial-bold';
	src: url('fonts/gt-america-trial-bold.otf');
}

@font-face {
	font-family: 'gt-america-trial-medium';
	src: url('fonts/gt-america-trial-medium.otf');
}

body {
    background-color: black;
    color: white;
    font-size: 100%;
    text-align: center;
}

#banner {
    font-family: 'gt-america-trial-bold';
    font-size: 300%;
    padding-top: 3%;
    padding-bottom: 2%;
}

#wrapper {
    width:50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    left: 50%;
    margin: auto;
}

img {
    width: 100%;
    padding-bottom: 6%;
}

#bullets, #kanye, #dilla {
    display: none;
}

#buttons {
    font-family: 'gt-america-trial-medium', 'Helvetica Neue';
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button, .button:hover, .button:visited, .button:active {
    text-decoration: none;
    color: white;
    font-size: 300%;
}


@media only screen and (max-device-width : 812px) { 
    
    #banner, #london {
        display: none;
    }
    
    #wrapper {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin: auto;
    }
    
/*
    #bullets, #kanye, #dilla {
        display: flex;
        flex-direction: column;
    }
*/

    #buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .button, .button:hover, .button:visited, .button:active {
        font-size: 1000%
    }
    
}

