body {
    background-color: black;
    color: white;
    font-size: 100%;
    text-align: center;
}

@font-face {
	font-family: 'gt-america-trial-bold';
	src: url('fonts/gt-america-trial-bold.otf');
}

@font-face {
	font-family: 'gt-america-trial-medium';
	src: url('fonts/gt-america-trial-medium.otf');
}


#banner {
    font-family: 'gt-america-trial-bold';
    font-size: 300%;
    padding-top: 3%;
    padding-bottom: 2%;
}

#wrapper {
    width:50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    left: 50%;
    margin: auto;
}

#poster {
    width: 100%;
    padding-bottom: 6%;
}

#buttons {
    font-family: 'gt-america-trial-medium', 'Helvetica Neue';
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button, .button:hover, .button:visited, .button:active {
    text-decoration: none;
    color: white;
    font-size: 300%;
}


@media only screen and (max-device-width : 812px) { 
    
    /* keyframes for fade */
    @-webkit-keyframes fade_in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-moz-keyframes fade_in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @-o-keyframes fade_in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    @keyframes fade_in {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    .fade_in {
        -webkit-animation: fade_in ease-in 1;
        -moz-animation: fade_in ease-in 1;
        animation: fade_in ease-in 1;

        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        animation-duration: 2s;
    }
    
    #banner, #poster {
        display: none;
    }
    
    #wrapper {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin: auto;
    }
    
    #buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10%;
    }
    
    .button, .button:hover, .button:visited, .button:active {
        font-size: 1500%;
        padding-bottom: 25%;
    }
    
    #projects {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
    }
    
    #sounds {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }
    
    #100p {
        -webkit-animation-delay: 2s;
        -moz-animation-delay: 2s;
        animation-delay: 2s;
    }
    
}

