@font-face {
	font-family: 'gt-america-trial-bold';
	src: url('fonts/gt-america-trial-bold.otf');
}

@font-face {
	font-family: 'gt-america-trial-medium';
	src: url('fonts/gt-america-trial-medium.otf');
}

body {
    background-color: black;
    color: white;
    font-size: 300%;
    text-align: center;
}

#banner {
    font-family: 'gt-america-trial-bold';
    padding-top: 3%;
    padding-bottom: 2%;
}

img {
    width: 100%;
    padding-bottom: 6%;
}

#buttons {
    font-family: 'gt-america-trial-medium', 'Helvetica Neue';
    display: flex;
    justify-content: space-between;
}

.button, .button:hover, .button:visited, .button:active {
    text-decoration: none;
    color: white;
    display: inline-block;
    
}


@media only screen and (max-device-width : 812px) { 
    
    #banner {
        padding-top: 70%;
        padding-bottom: 30%;
    }
    
    img {
        width: 150%;
    } 
}

