body {
 margin: 40px;
 font-family: Helvetica, Sans-serif;
}

a:hover { 
    background-color: black;
    color: white;
}

a, p {
	font-size: 48px;
	font-weight: 100;
	color: black;
	text-decoration: none;
	display: inline;
}

h1 {
	font-size: 64px;
}