body {
	font-family: Arial;
	margin:0;
	padding:0;
	height:100%;
}

img {
	width: 35%;
}

.col-xs-12, .col-xs-12 {
	text-align: center;
    padding-top: 2vh;
}

.col-xs-12 p {
    font-size: 6vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
}