body {
    background-color: black;
    color: white;
    text-align: center;
}

@font-face {
	font-family: 'gt-sectra-bold';
	src: url('fonts/gt-sectra-bold.ttf');
}

@font-face {
	font-family: 'gt-america-trial-expanded-medium';
	src: url('fonts/gt-america-trial-expanded-medium.otf');
}

/* keyframes for fade */
@-webkit-keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.fade_in {
    -webkit-animation: fade_in ease-in 1;
    -moz-animation: fade_in ease-in 1;
    animation: fade_in ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}

#splash {
    position: relative;
}

#globe {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 31%;
}

#welcome {
    font-family: 'gt-sectra-bold';
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -53%);
    font-size: 900%;
    opacity: 0;
    
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#enter {
    font-family: 'gt-america-trial-expanded-medium';
    text-decoration: none;
    color: white;
    font-size: 250%;
    opacity: 0;
    
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    animation-delay: 3.5s;
}


@media only screen and (max-device-width : 812px) { 
    
    #globe {
        padding-top: 10%;
        padding-bottom: 10%;
        width: 75%;
    }

    #welcome {
        font-family: 'gt-sectra-bold';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        font-size: 500%;
        opacity: 0;

        -webkit-animation-delay: 1.5s;
        -moz-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }

    #enter {
        font-family: 'gt-america-trial-expanded-medium';
        text-decoration: none;
        color: white;
        font-size: 200%;
        opacity: 0;

        -webkit-animation-delay: 3.5s;
        -moz-animation-delay: 3.5s;
        animation-delay: 3.5s;
    }
}