@font-face { font-family: azaura; src: url('azaura.ttf'); } 
@font-face { font-family: azaura; font-weight: bold; src: url('azaura.ttf');}

body {
	font-family: azaura;
	margin:0;
	padding:0;
	height:100%;
}

.col-md-12 {
	text-align: center;
	padding-top: 10vh;
}

img {
	width: 60%;
	align-content: center;
}
