@font-face {
	font-family: 'gt-america-trial-bold';
	src: url('fonts/gt-america-trial-bold.otf');
}

@font-face {
	font-family: 'gt-america-trial-medium';
	src: url('fonts/gt-america-trial-medium.otf');
}

body {
    font-family: 'gt-america-trial-medium', 'Helvetica Neue';
    font-size: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#banner {
    font-family: 'gt-america-trial-bold', 'Helvetica Neue';
    font-size: 400%;
    padding-top: 3%;
    padding-bottom: 4%;
    overflow: hidden;
    position:sticky;
    top:0;
}

#back {
    font-size: 100%;
    font-weight: bold;
    align-content: flex-start;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: white;
}

@media only screen and (max-device-width : 812px) { 
    
    #banner {
        font-size: 1200%;
        padding-bottom: 4%;
    }
    
    #back {
        font-size: 100%;
        font-weight: bold;
    }
    
    
    
}