@font-face {
	font-family: 'gt-america-trial-bold';
	src: url('fonts/gt-america-trial-bold.otf');
}

@font-face {
	font-family: 'gt-america-trial-medium';
	src: url('fonts/gt-america-trial-medium.otf');
}

body {
    font-family: 'gt-america-trial-medium', 'Helvetica Neue';
    font-size: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#banner {
    font-family: 'gt-america-trial-bold', 'Helvetica Neue';
    font-size: 400%;
    padding-top: 3%;
    padding-bottom: 4%;
    overflow: hidden;
    position:sticky;
    top:0;
}

#back {
    font-size: 100%;
    font-weight: bold;
    align-content: flex-start;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: white;
}

.sound_item {
    width: 100%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row; 
}

.cover {
    width: 33%;
    margin-left: 10%;
    margin-right: 2%;
}

img {
    width: 90%;
}

.blurb {
    width: 50%;
    margin-right: 5%;
    text-align: left;
}

.title {
    font-family: 'gt-america-trial-bold';
    font-size: 300%;
}

.description {
    padding-top: 3%;
    font-size: 250%;
}


@media only screen and (max-device-width : 812px) { 
    
    #banner {
        font-size: 1200%;
        padding-bottom: 5%;
    }
    
    #back {
        font-size: 100%;
        font-weight: bold;
    }
    
    .sound_item {
        padding-bottom: 15%;
        display: flex;
        flex-direction: column; 
        width: 100%;
        text-align: center;
        align-content: center;
        margin: auto;
    }
    
    .cover {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        padding-bottom: 3%;
    }

    .blurb {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
    }
    
    .title {
        font-size: 800%;
    }
    
    .description {
        font-size: 500%;
    }
}


