body {
 margin: 40px;
 font-family: Helvetica, Sans-serif;
}

h1 {
	margin-bottom: -15px;
}

.top {
	font-size: 24px;
	font-weight: 100;
	margin-bottom: -10px;
}

.bottom {
	font-size: 18px;
	font-weight: 100;
	margin-bottom: -10px;
}

a {
	font-size: 24px;
	font-weight: 100;
	color: black;
	text-decoration: none;
}

a:hover { 
    background-color: black;
    color: white;
}

#writing {
	margin-top: 30px;
	margin-bottom: 5px;
}

#analyzer_description {
	margin-top: -10px;
}

